__pycache__/
*.py[cod]
*.log
*.tmp
*.swp

# Python packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.env/
.venv/

# IDE/project files
.idea/
.vscode/
containernet/
experimentscode/data/cifar10/
experimentscode/data1/
experimentscode/logs/
experimentscode/__pycache__/
experimentscode/**/__pycache__/

# Archives and datasets
*.zip
*.tar
*.tar.gz

# System files
.DS_Store
Thumbs.db
